<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Информационная_система_Прокат_автомобилей.Properties.Settings.Прокат_автоConnectionString"
            connectionString="Data Source=COMPUTER;Initial Catalog=&quot;Прокат авто&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>